{% extends 'layouts/default.html' %}

{% block body%}


    <H1>Mentions Légales pour l'Application Tout'Roule</H1>
    <p>Responsable du Site :</p>
    <ol>
        <li>Nom de l'entreprise fictive :</li>
        <li>Adresse postale fictive :</li>
        <li>Numéro de téléphone fictif :</li>
        <li>Adresse e-mail de contact fictive :</li>
        <li>Numéro fictif d'identification fiscale :</li>
    </ol>
    <p>Coordonnées de l'Hébergeur :</p>
    <ol>
        <li>Nom de l'hébergeur fictif :</li>
        <li>Adresse de l'hébergeur fictive :</li>
        <li>Numéro de téléphone de l'hébergeur fictif :</li>
        <li>Adresse e-mail de contact de l'hébergeur fictif :</li>
    </ol>
    <h2>Conditions d'Utilisation :</h2>
    <p>En utilisant l'application Tout'Roule (ci-après dénommée [l'Application]), vous acceptez les conditions d'utilisation suivantes :</p>
    <ol>
        <li><strong>Objectif de l'Application :</strong> L'Application a pour objectif de fournir un service de gestion des missions de transport des chauffeurs de l'entreprise.</li>
        <li><strong>Accès et Utilisation :</strong> L'accès à l'Application est soumis à votre conformité avec ces conditions d'utilisation. Vous acceptez de ne pas utiliser l'Application à des fins illégales ou interdites.</li>
        <li><strong>Protection des Données :</strong> Veuillez consulter notre Politique de Confidentialité pour en savoir plus sur la collecte, le traitement et la protection des données personnelles.</li>
        <li><strong>Propriété Intellectuelle :</strong> Tout le contenu de l'Application, y compris les textes, les graphiques, les logos et les icônes, est la propriété de [Nom de l'Entreprise fictive] et est protégé par les lois sur le droit d'auteur.</li>
        <li><strong>Responsabilité :</strong> [Nom de l'Entreprise fictive] ne peut être tenu responsable des informations inexactes ou trompeuses fournies par les utilisateurs ou pour tout dommage résultant de l'utilisation de l'Application.</li>
        <li><strong>Loi Applicable et Juridiction :</strong> Ces conditions d'utilisation sont régies par les lois fictives de la juridiction fictive. Tout litige découlant de l'utilisation de l'Application sera soumis à la juridiction fictive.</li>
        <li><strong>Contact pour les Réclamations :</strong> Pour toute réclamation ou question concernant l'Application, veuillez nous contacter à l'adresse e-mail fictive de contact.</li>
        <li><strong>Dernière Mise à Jour :</strong> Ces mentions légales ont été mises à jour pour la dernière fois le [Date de la Dernière Mise à Jour].</li>
    </ol>
    

{% endblock %}