
{% extends 'layouts/default.html' %}

{% block body%}

<h1>Règlement Général sur la Protection des Données (RGPD)</h1>
<p>Le Règlement Général sur la Protection des Données (RGPD) est une réglementation européenne qui vise à renforcer la protection de la vie privée des individus en ce qui concerne le traitement des données personnelles. Le RGPD est entré en vigueur le 25 mai 2018.</p>
<h2>Principes clés du RGPD</h2>
<ol>
    <li><strong>Transparence et légitimité :</strong> Les organisations doivent traiter les données personnelles de manière transparente et légale. Les individus doivent être informés de la manière dont leurs données sont collectées et utilisées.</li>
    <li><strong>Consentement :</strong> Les organisations doivent obtenir un consentement explicite et librement donné des individus avant de collecter leurs données personnelles.</li>
    <li><strong>Droit à l'information :</strong> Les individus ont le droit d'être informés sur la manière dont leurs données sont traitées, y compris sur la finalité du traitement.</li>
    <li><strong>Droit d'accès :</strong> Les individus ont le droit d'accéder à leurs propres données personnelles détenues par une organisation.</li>
    <li><strong>Droit à l'effacement :</strong> Les individus ont le droit de demander la suppression de leurs données personnelles dans certaines circonstances.</li>
    <li><strong>Responsabilité :</strong> Les organisations sont tenues responsables du traitement des données personnelles et doivent mettre en place des mesures de sécurité adéquates.</li>
</ol>
<h2>Sanctions</h2>
<p>Le non-respect du RGPD peut entraîner des sanctions financières importantes pour les organisations, pouvant aller jusqu'à 20 millions d'euros ou 4 % du chiffre d'affaires mondial annuel, selon le montant le plus élevé.</p>
<h2>Conformité au RGPD</h2>
<p>Pour être en conformité avec le RGPD, il est essentiel que les organisations mettent en place des politiques de protection des données, désignent un délégué à la protection des données (DPO), effectuent des évaluations d'impact sur la protection des données (EIPD), et assurent la sécurité des données personnelles.</p>
<p>Pour en savoir plus sur le RGPD et comment il affecte votre organisation, vous devriez consulter un avocat ou un expert en protection des données.</p>


{% endblock %}

